@font-face {
    font-family: yekan;
    src: url(assets/Yekan.ttf);
}
body{
    direction: rtl;
    font-family: yekan;
    overflow-x: hidden;
}
h1{
    color: rgb(173, 0, 173);
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 30px;
    /* -webkit-text-stroke: 2px #000; */
}
.general-introduction{
    padding: 120px 150px;
}
.general-txt{
    font-size: 2rem;
}
.general-icons i{
    color: rgb(173, 0, 173);
    font-size: 30px;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}
.general-icons i:hover{
    transform: scale(1.5);
    color: #8a2296;
}
.grey{
    color: rgb(156, 156, 156);
    text-align: justify;
}
.general-btns{
    margin-top: 1rem;
    position: relative;
}
.general-btns hr{
    position: absolute;
    right: 100px;
    bottom: 11%;
    background: #000;
    border: #000;
    color: #000;
    height: 3px;
    width: 10%;
    z-index: -1;
}
.general-btns button{
    border-radius: 50px;
    margin-left: 20px;
}
.btn-brdr{
    border: 2px solid #000;
    background-color: white;
    padding: 7px 20px 10px 20px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
}
.btn-nonbrdr{
    border: none;
    padding: 7px 20px;
    background-color: transparent;
    background-color: white;
    color: rgb(173, 0, 173);
}
.general-right , .general-left{
    flex: 1;
}
.general-left{
    position: relative;
}
.con1{
    position: absolute;
    left: 0;
    top: 50%;
}
.con2{
    position: absolute;
    right: 20px;
    bottom: 50px;
}
.general-left img{
    border-radius: 50%;
    margin-right: 50px;
}
.container-btn{
    border-radius: 50px;
    border: 2px solid #000;
    align-items: center;
    padding: 0 40px;
    width: 220px;
    background-color: white;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
}
.nums{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(173, 0, 173);
    margin-left: 15px;
}
.conright{
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #cedbe8;
}

/* قسمت ثابت */
::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 13px rgb(223, 223, 223);
    /* border-radius: 10px; */
}

/* قسمت متحرک */
::-webkit-scrollbar-thumb {
    background: rgb(173, 0, 173);
    border-radius: 10px;
}
/* for header ============================================= */
header{
    padding: 20px 80px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 56;
}
.header-right img{
    margin-bottom: 1rem;
    margin: 0 1rem 1rem 1rem ;
    cursor: pointer;
}
.header-right i{
    margin: 0 10px;
    font-size: 2rem;
    color: #8a2296;
    cursor: pointer;
}
.header-left{
    cursor: pointer;
}
.menu-open{
    width: 0;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 57;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.375);
    transition: 1.2s;
    opacity: 0;
    visibility: hidden;
}
.menu-open ul{
    list-style: none;
    padding: 100px 0;
    margin: 0 80px 0 0 ;
    opacity: 0;
    transition: 1.5s;
}
.mdi-close{
    font-size: 2rem;
    position: absolute;
    left: 40px;
    padding-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.mdi-close:hover{
    color: #d510eb;
}
.social-media{
    margin-right: 80px;
}
.social-media i{
    color: #d510eb;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10px;
}
ul li a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    display: inline-block;
    margin: 7px 0;
}
ul li a:hover{
    color: #d510eb;
}

/* for services ============================================================================== */
.services{
    position: relative;
}
.services h2{
    font-size: 3rem;
    font-weight: bold;
}
.services .serv{
    font-size: 2rem;
    font-weight: bold;
}
.des{
    text-align: justify;
    color: rgb(169, 169, 169);
    font-size: small;
}
.box-slider h3{
    font-weight: bold;
    margin: 40px 0 30px 0;
}
.box-slider{
    min-width: 300px ;
    background-color: #ffffff;
    border: #a800ba 2px solid;
    box-shadow: -3px 4px 2px rgba(0, 0, 0, 0.238);
    border-radius: 10px;
    margin: 0 10px;
    padding: 40px 20px;
    transition: 0.8s ease;
}
.arrows i{
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid #000;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
    padding-top: 5px;
    position: absolute;
    top: 60%;
    transition: 0.5s;
}
.arrows i:hover{
    background-color: #8a2296;
    color: white;
}
.arrR{
    right: 100px;
}
.arrL{
    left: 100px;
}
.services-slider{
    width: 80%;
    margin: 100px auto 0 auto;
    /* box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375); */
    /* background-color: bisque; */
    overflow: hidden;
    /* padding: 0 120px; */
}
.services-slider button{
    color: #8a2296;
    background-color: transparent;
    border: none;
}
.gp{
    display: flex;
    align-items: center;
}
.gp i{
    margin-top: 7px;
    color: #8a2296;
    transition: 0.7s;
    transform: translateX(0);
}
.gp:hover i{
    transform: translateX(-10px);
}
.dotted{
    margin: auto;
    line-height: 20px;
}
.dotted div{
    font-size: 5rem;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
    /* border: 2px solid #8a2296;
    color: white; */
}
/* for professional skills ===================== */
.professional h2{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 100px;
}
.professional .para{
    font-size: 2rem;
    font-weight: bold;
}
.professional-gp{
    width: 80%;
    margin: auto;
}
.onvan , .percent{
    font-weight: bold;
    font-size: 1.4rem;
}
.darsad{
    color: #8a2296;
    font-size: 2rem;
}
.box-talent{
    margin: 15px;
    padding: 20px 15px;
    border-bottom: 2px solid rgb(159, 159, 159);
    position: relative;
}
.circles-prof{
    width: 25px;
    height: 25px;
    background-color: #8a2296;
    border: 3px solid #000;
    border-radius: 50px;
    position: absolute;
    bottom: -12.5px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
    z-index: 55;
}
.circle1{
    right: 95% ;
}
.circle2{
    right: 90% ;
}
.circle3{
    right: 70% ;
}
.circle4{
    right: 50% ;
}
.circle5{
    right: 60% ;
}
.circle6{
    right: 25% ;
}
.line{
    position: absolute;
    border-bottom: 4px solid #8a2296;
}
.line1{
    width: 95%;
    right: 0;
    bottom: -2px;
}
.line2{
    width: 90%;
    right: 0;
    bottom: -2px;
}
.line3{
    width: 70%;
    right: 0;
    bottom: -2px;
}
.line4{
    width: 50%;
    right: 0;
    bottom: -2px;
}
.line5{
    width: 60%;
    right: 0;
    bottom: -2px;
}
.line6{
    width: 25%;
    right: 0;
    bottom: -2px;
}