@font-face {
    font-family: yekan;
    src: url(assets/Yekan.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: yekan;
    overflow-x: hidden;
}
h1{
    font-weight: bold;
    margin-bottom: 30px;
}

.general-txt{
    font-size: 2rem;
}
.general-icons i{
    font-size: 30px;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}
/* .text-black li{
    color: rgb(156, 156, 156);
    text-align: justify;
} */
.general-btns{
    margin-top: 1rem;
    position: relative;
}
.general-btns hr{
    position: absolute;
    right: 100px;
    bottom: 11%;
    background: #000;
    border: #000;
    color: #000;
    height: 3px;
    width: 10%;
    z-index: -1;
}
.general-btns button{
    border-radius: 50px;
    margin-left: 20px;
}
.btn-brdr{
    border: 2px solid #000;
    background-color: white;
    padding: 7px 20px 10px 20px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
}
.btn-nonbrdr{
    border: none;
    padding: 7px 20px;
    background-color: transparent;
    background-color: white;
    color: #AD00AD;
}
.general-left{
    position: relative;
}
.con1{
    position: absolute;
    left: -80px;
    top: 50%;
}
.con2{
    position: absolute;
    right: 20px;
    bottom: 50px;
}
.general-left img{
    border-radius: 50%;
}
.container-btn{
    border-radius: 50px;
    border: 2px solid #000;
    align-items: center;
    width: 220px;
    background-color: white;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
}
.nums{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 15px;
}
.conright{
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #cedbe8;
}

/* قسمت ثابت */
::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 13px rgb(223, 223, 223);
}

/* قسمت متحرک */
::-webkit-scrollbar-thumb{
    background: #AD00AD;
    border-radius: 10px;
}
/* for header ============================================= */
header{
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 95.763px;
    z-index: 56;
    
}
header.bgd-dark{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.619);
}
header.bg-white{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.149);
}
.header-right img{
    margin-bottom: 1rem;
    margin: 0 1rem 1rem 1rem ;
    cursor: pointer;
}
.header-right i{
    margin: 0 10px;
    font-size: 2rem;
    cursor: pointer;
}
header .material-symbols-outlined {
    font-size: 24px;
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' -25,
  'opsz' 20
}
.header-left{
    cursor: pointer;
}
.menu-open{
    width: 0;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 57;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.375);
    transition: 1.2s;
    opacity: 0;
    visibility: hidden;
}
.menu-open.bgd-dark{
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.156);
}
.menu-open ul{
    list-style: none;
    padding: 100px 0;
    margin: 0 80px 0 0 ;
    opacity: 0;
    transition: 1.5s;
}
.mdi-close{
    font-size: 2rem;
    position: absolute;
    left: 40px;
    padding-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.social-media{
    margin-right: 80px;
}
.social-media i{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 10px;
}
ul li a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    display: inline-block;
    margin: 7px 0;
}
.dropdown-toggle::after {
    display: none;
}
header .dropdown .btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.general-introduction{
    margin-top: 120px;
}
/* for sliders 0 to md ============================================================================== */
@media only screen and (min-width:0) and (max-width: 768px){
    swiper-container {
        width: 240px;
        height: 320px;
    }
    
    swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }
    
    swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
    }
    
    swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
    }
    
    swiper-slide:nth-child(3n) {
        background-color: rgb(10, 184, 111);
    }
    
    swiper-slide:nth-child(4n) {
        background-color: rgb(211, 122, 7);
    }
    
    swiper-slide:nth-child(5n) {
        background-color: rgb(118, 163, 12);
    }
}
/* for sliders md to infinite ======================================================================= */
@media only screen and (min-width: 769px) {
    swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
}

/* for services ===================================================================================== */
.services{
    position: relative;
}
.services h2{
    font-size: 3rem;
    font-weight: bold;
}
.services .serv{
    font-size: 2rem;
    font-weight: bold;
}
.des{
    text-align: justify;
    color: rgb(169, 169, 169);
    font-size: small;
}
.box-slider h3{
    font-weight: bold;
    margin: 40px 0 30px 0;
}
.box-slider{
    background-color: #ffffff;
    border: #a800ba 2px solid;
    box-shadow: -3px 4px 2px rgba(0, 0, 0, 0.238);
    border-radius: 10px;
    padding: 40px 20px;
    transition: 0.8s ease;
}
.arrows .mdi{
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
    padding-top: 5px;
    position: absolute;
    top: 60%;
    transition: 0.5s;
}
.arrows .mdi:hover{
    color: white ;
}
.arrR{
    right: 100px;
}
.arrL{
    left: 100px;
}
.services-slider{
    width: 80%;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
.services-slider button{
    background-color: transparent;
    border: none;
}
.services-btn{
    border: none;
    background-color: transparent;
}
.gp{
    display: flex;
    align-items: center;
}
.gp i{
    margin-top: 7px;
    transition: 0.7s;
    transform: translateX(0);
}
.gp:hover i{
    transform: translateX(-10px);
}
.dotted{
    margin: auto;
    line-height: 20px;
}
.dotted div{
    font-size: 5rem;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}
/* for professional skills ===================== */
.professional h2{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 100px;
}
.professional .para{
    font-size: 2rem;
    font-weight: bold;
}
.onvan , .percent{
    font-weight: bold;
    font-size: 1.4rem;
}
.darsad{
    font-size: 2rem;
}
.box-talent{
    min-width: 300px;
    padding: 20px 15px;
    border-bottom: 2px solid rgb(159, 159, 159);
}
.circles-prof{
    width: 25px;
    height: 25px;
    border: 3px solid #000;
    border-radius: 50px;
    position: absolute;
    bottom: -12.5px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
    z-index: 55;
}
.circle1{
    right: 90% ;
}
.circle2{
    right: 85% ;
}
.circle3{
    right: 45% ;
}
.circle4{
    right: 30% ;
}
.circle5{
    right: 60% ;
}
.circle6{
    right: 45% ;
}
.line{
    position: absolute;
    border-bottom: 4px solid #8a2296;
}
.line1{
    width: 90%;
    right: 0;
    bottom: -2px;
}
.line2{
    width: 85%;
    right: 0;
    bottom: -2px;
}
.line3{
    width: 50%;
    right: 0;
    bottom: -2px;
}
.line4{
    width: 30%;
    right: 0;
    bottom: -2px;
}
.line5{
    width: 60%;
    right: 0;
    bottom: -2px;
}
.line6{
    width: 45%;
    right: 0;
    bottom: -2px;
}
/* pricing ============================================================================== */
.pricing h2{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 80px;
    padding-top: 50px;
}
.pricing .para1{
    font-size: 1.5rem;
    font-weight: bold;
}
.box-price{
    border: 2px solid rgb(0, 0, 0);
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.375);
    /* background-color: white; */
    border-radius: 15px;
    padding: 0px 30px;
}
.blaack{
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}
.blaack .popular{
    border: 2px solid #000000;
    border-radius: 50px;
    color: #fff;
    padding: 0px 15px 5px 15px;
    font-size: smaller;
    font-weight: bold;
    position: absolute;
    top: -15.5px;
    left: 20px;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.375);
}
.box-price span{
    margin-top: 20px;
    display: inline-block;
}
.gp-title-price{
    align-items: center;
    padding-top: 50px;
}
.gp-title-price span{
    font-weight: bold;
    margin-right: 10px;
    margin-top: 0;
    display: inline-block;
    font-size: 1.7rem;
}
.para2{
    text-align: justify;
    color: rgb(122, 122, 122);
    margin-top: 30px;
}
.btn-con{
    border: #000 2px solid;
    border-radius: 50px;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.btn-con button{
    width: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
}
.btn-con button:hover{
    background-color: #fff;
}
/* for blogs================================================= */
.blogs{
    padding-bottom: 50px;
}
.blogs h2{
    font-size: 3rem;
    font-weight: bold;
}
.blogs p.text-center{
    font-size: 2rem;
    font-weight: bold;
}
.box-blog{
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #a800ba;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.375);
}
.box-blog span{
    margin-bottom: 3rem;
    display: inline-block;
    color: rgb(193, 193, 193);
}
.box-blog .gp-btn-blog{
    margin-bottom: 2rem;
    cursor: pointer;
}
.box-blog .gp-btn-blog button{
    background-color: transparent;
    border: none;
}
.gp-btn-blog i{
    transition: 0.5s;
}
.gp-btn-blog:hover i{
    transform: translateX(-10px);
}
.box-blog img{
    border-radius: 10px ;
    align-self: center;
}
.box-blog h3{
    font-weight: bold;
}
.box-blog p{
    text-align: justify;
    color: rgb(106, 106, 106);
}
.btn-read-more{
    text-align: center;
    cursor: pointer;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 50px ;
    width: 160px;
    padding: 10px 30px;
    margin: auto;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.375);
    transition: 0.5s;
}
.btn-read-more:hover{
    color: white;
}

/* for footer =========================================== */
footer{
    color: #fff;
}
.footer-icons i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
}
/* color for themes ================================================ */
.banafsh-color-md{
    color: #AD00AD;
}
.banafsh-color-lit{
    color: #ff65e5;
}
.bgd-dark{
    background-color: #303030;
}
.bgd-banafsh-md{
    background-color: #AD00AD;
}
.bgd-banafsh-lit{
    background-color: #ff65e5;
}
.bgd-light{
    background-color: #fff;
}
.brdr-banafsh-md{
    border-color: #AD00AD;
}
.brdr-banafsh-lit{
    border-color: #ff65e5;
}
.btn-proj.bgd-banafsh-lit:hover{
    background-color: #717171;
    color: #ff65e5;
}
/* red ==================================================== */
.red-color-md{
    color: #af0000;
}
.red-color-lit{
    color: #ff1717;
}
.bgd-red-md{
    background-color: #af0000;
}
.bgd-red-lit{
    background-color: #ff1717;
}
.brdr-red-md{
    border-color: #af0000;
}
.brdr-red-lit{
    border-color: #ff1717;
}
.btn-proj.bgd-red-lit:hover{
    background-color: #717171;
    color: #ff1717;
}
/* blue ==================================================== */
.blue-color-md{
    color: #1400c4;
}
.blue-color-lit{
    color: #5a47ff;
}
.bgd-blue-md{
    background-color: #1400c4;
}
.bgd-blue-lit{
    background-color: #5a47ff;
}
.brdr-blue-md{
    border-color: #1400c4;
}
.brdr-blue-lit{
    border-color: #5a47ff;
}
.btn-proj.bgd-blue-lit:hover{
    background-color: #717171;
    color: #5a47ff;
}
/* green ==================================================== */
.green-color-md{
    color: #3a8b00;
}
.green-color-lit{
    color: #8dff3c;
}
.bgd-green-md{
    background-color: #3a8b00;
}
.bgd-green-lit{
    background-color: #8dff3c;
}
.brdr-green-md{
    border-color: #3a8b00;
}
.brdr-green-lit{
    border-color: #8dff3c;
}
.btn-proj.bgd-green-lit:hover{
    background-color: #717171;
    color: #8dff3c;
}
/* yellow ==================================================== */
.yellow-color-md{
    color: #ffd900;
}
.yellow-color-lit{
    color: #f2ff00;
}
.bgd-yellow-md{
    background-color: #ffd900;
}
.bgd-yellow-lit{
    background-color: #f2ff00;
}
.brdr-yellow-md{
    border-color: #ffd900;
}
.brdr-yellow-lit{
    border-color: #f2ff00;
}
.btn-proj.bgd-yellow-lit:hover{
    background-color: #717171;
    color: #f2ff00;
}
/* yellow ==================================================== */
.pink-color-md{
    color: #ff00aa;
}
.pink-color-lit{
    color: #ff71d0;
}
.bgd-pink-md{
    background-color: #ff00aa;
}
.bgd-pink-lit{
    background-color: #ff71d0;
}
.brdr-pink-md{
    border-color: #ff00aa;
}
.brdr-pink-lit{
    border-color: #ff71d0;
}
.btn-proj.bgd-pink-lit:hover{
    background-color: #717171;
    color: #ff71d0;
}
.purple{
    background-color: #AD00AD;
}
.red{
    background-color: #af0000;
}
.blue{
    background-color: #1400c4;
}
.green{
    background-color: #3a8b00;
}
.yellow{
    background-color: #ffd900;
}
.pink{
    background-color: #ff00aa;
}
.material-symbols-outlined {
    font-size: 18px;
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' -25,
  'opsz' 20
}
.swiper-pagination{
    bottom: -50px !important;
    z-index: 66666 !important;
}



@media only screen and (min-width : 0)and (max-width : 768px){
    h1{
        font-size: 3rem;
    }
    .general-left{
        position: static;
    }
    .con1{
        position: static;
        margin-top: -350px;
    }
    .con2{
        position: static;
       margin-top: -350px;
    }
}

/* md  */
@media only screen and (min-width : 769px) and (max-width : 992px){
    h1{
        font-size: 4rem;
    }
    .general-left{
        position: relative;
    }
    .con1{
        position: absolute;
        left: -80px;
        top: 50%;
    }
    .con2{
        position: absolute;
        right: 20px;
        bottom: 50px;
    }
}
/* lg  */
@media only screen and (min-width : 993px) and (max-width : 1200px){
    h1{
        font-size: 5rem;
    }
    .general-left{
        position: relative;
    }
    .con1{
        position: absolute;
        left: -80px;
        top: 50%;
    }
    .con2{
        position: absolute;
        right: 20px;
        bottom: 50px;
    }
}
@media only screen and (min-width : 1200px){
    h1{
        font-size: 5rem;
    }
}