@font-face {
    font-family: yekan;
    src: url(assets/Yekan.woff);
}
body{
    direction: rtl;
    font-family: yekan;
}
h1{
    color: rgb(173, 0, 173);
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 30px;
}
.general-introduction{
    padding: 150px;
}
.general-txt{
    font-size: 2rem;
}
.general-icons i{
    color: rgb(173, 0, 173);
    font-size: 30px;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}
.general-icons i:hover{
    transform: scale(1.5);
    color: #8a2296;
}
.grey{
    color: rgb(156, 156, 156);
    text-align: justify;
}
.general-btns{
    margin-top: 1rem;
    position: relative;
}
.general-btns hr{
    position: absolute;
    right: 100px;
    bottom: 11%;
    background: #000;
    border: #000;
    color: #000;
    height: 3px;
    width: 10%;
    z-index: -1;
}
.general-btns button{
    border-radius: 50px;
    margin-left: 20px;
}
.btn-brdr{
    border: 2px solid #000;
    background-color: white;
    padding: 7px 20px 10px 20px;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
}
.btn-nonbrdr{
    border: none;
    padding: 7px 20px;
    background-color: transparent;
    background-color: white;
    color: rgb(173, 0, 173);
}
.general-right , .general-left{
    flex: 1;
}
.general-left{
    position: relative;
}
.con1{
    position: absolute;
    left: 0;
    top: 50%;
}
.con2{
    position: absolute;
    right: 20px;
    bottom: 50px;
}
.general-left img{
    border-radius: 50%;
    margin-right: 50px;
}
.container-btn{
    border-radius: 50px;
    border: 2px solid #000;
    align-items: center;
    padding: 0 40px;
    width: 220px;
    background-color: white;
    box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.375);
}
.nums{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(173, 0, 173);
    margin-left: 15px;
}
.conright{
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #cedbe8;
}

/* قسمت ثابت */
::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 13px rgb(223, 223, 223);
    /* border-radius: 10px; */
}

/* قسمت متحرک */
::-webkit-scrollbar-thumb {
    background: rgb(173, 0, 173);
    border-radius: 10px;
}